AddType application/vnd.android.package-archive apk
<FilesMatch "\.(apk)$">
  ForceType application/vnd.android.package-archive
  Header set Content-Disposition attachment
</FilesMatch>

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -Indexes
    </IfModule>
</IfModule>